<!DOCTYPE html>
<html>
  <head>
    <title>LarbyDB | Administration</title>
    <link rel="stylesheet" href="material.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <script src="main.js" type="module"></script>
  </head>
  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo">LarbyDB</a>
        <ul class="right hide-on-med-and-down">
          <li>
            <a href="#1"><i class="material-icons">search</i></a>
          </li>

          <li>
            <a href="#!" id="reload-btn"
              ><i class="material-icons">refresh</i></a
            >
          </li>
        </ul>
      </div>
    </nav>

    <div class="card">
      <div class="card-content">
        <ul class="collection with-header" id="collection">
          <li class="collection-header"><h4>Table 1</h4></li>
          <!-- <li class="collection-item">Alvin</li>
          <li class="collection-item">Alvin</li>
          <li class="collection-item">Alvin</li>
          <li class="collection-item">Alvin</li>
          <li class="collection-item">Alvin</li> -->
        </ul>
        <div class="collection-btns">
          <a class="btn"><i class="material-icons">navigate_before</i></a>
          <a class="btn"><i class="material-icons">navigate_next</i></a>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@materializecss/materialize@2.0.3-alpha/dist/js/materialize.min.js"></script>
    <link rel="stylesheet" href="style.css" />
  </body>
</html>
