<!DOCTYPE html>
<html>
  <head>
    <title>LarbyDB | Administration</title>
    <link rel="stylesheet" href="material.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <script src="main.js" type="module"></script>
  </head>
  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo">LarbyDB</a>
        <ul class="right hide-on-med-and-down">
          <li>
            <a href="#1"><i class="material-icons">search</i></a>
          </li>

          <li>
            <a href="#!" id="reload-btn"
              ><i class="material-icons">refresh</i></a
            >
          </li>
        </ul>
      </div>
    </nav>

    <div class="card">
      <div class="card-content">
        <div class="table">
          <table class="highlight">
            <thead>
              <tr>
                <th>ID</th>
                <th>Value</th>
                <th>Total</th>
              </tr>
            </thead>

            <tbody id="table"></tbody>
          </table>
        </div>
      </div>
      <div class="collection-btns">
        <a class="btn" id="prev-btn"
          ><i class="material-icons">navigate_before</i></a
        >
        <a class="btn" id="next-btn"
          ><i class="material-icons">navigate_next</i></a
        >
      </div>
    </div>

    <div class="overlay"></div>
    <script src="material.js"></script>
    <link rel="stylesheet" href="style.css" />
  </body>
</html>
